<h2>New book</h2>
<!--追記部分 -->
<%= form_with model: @book do |f| %>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="0fUmybsy22MlrwJbEkErIb54/cTJw6ZQ7/X1Rub7wNlYkvQHOJUrX6XnDKFdM/dUo3gBpvmBro7BJ+yDeT/3uQ==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>
<% end %>
  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
</form>



</body></html>
